  // @font-face {
  //   font-family: 'Manrope';
  //   src: url('../font/Manrope-Regular.68ff99ca.ttf') format('ttf');
  //   font-weight: normal;
  //   font-style: normal;
  //   font-display: swap;
  // }

  @font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 400; /* Defines the full range of weights available */
    font-style: normal;
  }

  
  @font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 600; /* Defines the full range of weights available */
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 700; /* Defines the full range of weights available */
    font-style: normal;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 800; /* Defines the full range of weights available */
    font-style: normal;
  }